#quote-box{
  height: 290px;
  width: 450px;
  background-color: black;
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
}
#textWrapper{
  
}
#text{
  position: relative;
  top:125px;
  left: 50px;
  color: white;
}
#author{
  color: white;
}
#new-quote{
  position: relative;
  top:225px;
  left: 330px;
  height: 35px;
  width: 90px;
}
#tweet-quote{
  color: white;
  position: relative;
  top:225px;
  left: -60px;
}
