#quote-box{
  height: 290px;
  width: 450px;
  background-color: black;
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
}
#textBox{
  height: 57%;
  width: 100%;
  /* background-color: green; */
}
#authorBox{
  height: 10%;
  width: 100%;
  /* background-color: red; */
}
#btnBox{
  height: 33%;
  width: 100%;
  /* background-color: blue; */
}
#text{
  padding-top: 50px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  text-justify: auto;
  color: white;
}
.animatedtrue{
  animation-name: fade;
  animation-duration: 2s;
}
@keyframes fade {
  0%   {opacity: 0;}
  25%  {opacity: 0.25;}
  50%  {opacity: 0.5;}
  75%  {opacity: 0.75;}
  100% {opacity: 1;}
}
.animatedfalse{
  animation-name: fade2;
  animation-duration: 2s;
}
@keyframes fade2 {
  0%   {opacity: 0;}
  25%  {opacity: 0.25;}
  50%  {opacity: 0.5;}
  75%  {opacity: 0.75;}
  100% {opacity: 1;}
}

#author{
  position: relative;
  /* top:0px; */
  margin-top:10px;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  /* left: 50px; */
  color: white;
}
#new-quote{
  position: relative;
  top:33%;
  left: 330px;
  height: 35px;
  width: 90px;
  background-color: black;
  color: white;
  border: 2px solid white;
  border-radius: 25px;
  font-family: 'Fredoka One', cursive;
}
#tweet-quote{
  color: white;
  position: relative;
  top:33%;
  right: 60px;
}

.font1{
  font-family:Arial, sans-serif;
}
.font2{
  font-family: Andale Mono, monospace;
}
.font3{
  font-family: Comic Sans MS, Comic Sans, cursive;
}
.font4{
  font-family: Times, Times New Roman, serif
}
